<% include header %>
<div class="pure-g content">
  <div class="pure-u-1 section-intro parallax-container" data-parallax="scroll" data-image-src="../img/muhka_1.jpg">
    <h1>サテライト</h1>
  </div>
  <div class="pure-u-5-12 section-s">
    <h3>General information</h3>
    <p>Here and there in Kiyosumi-shirakawa--colorful MOT events of all kinds! Over 20 years have passed since Museum of Contemporary Art Tokyo (MOT) first opened. In that time, the Kiyosumi-shirakawa area has rapidly changed, and MOT has grown with its changes. Currently, the area is drawing interest with its blend of history dating from the Edo period (1603-1868), nostalgic old townscapes, and new cultural spaces abuzz with creativity. "MOT Satellite" is a project of uncovering Kiyosumi-shirakawa's true charm. The museum, taking advantage of its temporary closure, is going outside to engage with people, places, and history together with artists and local residents and shops. During the project period, artwork exhibits, workshop, and other events will be held in the district.
    </p>
    <p>The main exhibits will be on view in 7 "MOT Spaces" established in old factory buildings and local cultural spaces. Visitors can also walk around and enjoy small exhibits at "MOT Spots" scattered about the area in coffee roasteries and cafes and on shopping streets. The area takes about 20 minutes to walk from end to end. Plus, you won't want to miss the "Fellow Project" activities MOT will hold in conjunction with local alternative culture spaces, and the programs of all kinds offered by our "Local partners".</p>
  </div>
</div>
<% include footer %>
