<!doctype html>
<html>
	<head>
		<title>サテライト // SATELLITE 2017</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/custom-styling.css">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
			<header>
				<a href="https://purecss.io/layouts/side-menu/#menu" id="menuLink" class="menu-link">
		        <!-- Hamburger icon -->
		        <span></span>
		    </a>
				<div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="/">サテライト</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/collection" class="pure-menu-link">Collection</a></li>
								<li class="pure-menu-item"><a href="#" class="pure-menu-link">Program</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
            </ul>
        </div>
			</header>
